<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if(products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
            <li>
                <p><%= p.productData.title %> (<%=p.qty%>)</p>
                <form action="/cart-delete-item" method="post">
                    <input type="hidden" name="productId" value="<%=p.productData.id %>">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
    <% } else { %>
    <h1>Cart is Empty!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>